<%= form_tag search_books_path, method: :get do %>
  <%= text_field_tag :query, params[:query] || 'Search by title' %>
  <%= submit_tag 'Search', class: 'btn-primary' %>
  <div>
    <%= query_by_radio_tag :title %>
    <%= query_by_radio_tag :isbn %>
    <%= query_by_radio_tag :authors %>
  </div>
<% end %>

<p>
  <%= link_to "Add a book", new_book_path, class: 'btn' %>
</p>

<% if @books.size > 0 %>
  <dl>
  <% @books.each do |book| %>
    <dt><%= link_to book.title, book_path(book) %></dt>
    <dd><%= book.authors %></dd>
  <% end %>
  </dl>
<% else %>
  <h2>Sorry, we haven't found any books!</h2>
<% end %>