<h1><%= @book.title %></h1>

<p>
	by <%= @book.authors %>
</p>

<p>
	ISBN: <%= @book.isbn %>
</p>

<p>
	<%= @book.description %>
</p>

<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Delete", book_path, method: :delete %>

<p>
  <%= link_to "Back to list", books_path %>
</p>