<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container main">
    
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to root_path, class: 'brand' do %>
            <%= image_tag "books.png", width: '20px' %>  
            Library
          <% end %>
        </div>
      </div>
    </div>
  
    <% flash.each do |name,msg| %>
      <div class="<%= flash_class(name)%>">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  
  </div>

</body>
</html>
